<div class="log-box">
  <div class="center">
    <div class="fake-submit">
      <i class="fa fa-plus"></i>&nbsp;<%= link_to 'New Blog Post', new_blog_path %>
    </div>
  </div>
</div>
<br />

<div class="side-box">
  <div class="side-content">
      <div class="title-box" style="font-size: 16px; text-align: center;">Other Blog Posts</div>
      <% @latest_blogs.each do |blog| %>
        <div class="table-row">
          <div class="tiny-table-cell">
            <%= link_to blog_path(blog) do
                image_tag blog.image, width: 30, alt: 'blog image', title: blog.title
            end %>
          </div>
          <div class="tiny-table-cell" style="display:inline-block;">
            <%= link_to blog.title, blog_path(blog) %>
          </div>
        </div>
      <% end %>
  </div>
</div>