<div class="log-box">
  <div class="center">
    <div class="fake-submit">
      <i class="fa fa-plus"></i>&nbsp;<%= link_to 'New Blog Post', new_blog_path %>
    </div>
  </div>
</div>
<br />

<div class="side-box">
  <div class="side-content">
    
  </div>
</div>