<div id="content-wrap">
  <% if current_user == @blog.user %>
    <div class="left-column">
      <%= render 'header' %>
      <%= render 'form', blog: @blog %>
      <div class="log-form">
        <div class="center">
          <%= link_to 'Cancel', @blog %>
        </div>
      </div>
      
      <%= render "blogs/comments" %>

    </div>

  <% else %>
    <div class="alert">You do not have permission to access this page.</div>
  <% end %>
</div>