<div id="wrapper">
    <% @blogs.each do |blog| %>
      <div class="index-boxes">
        <div class="post-title"><%= link_to blog.title, blog %></div>
        <div class="date">Posted <%= time_ago_in_words(blog.created_at) %> ago by <%= link_to blog.user.username, user_path(blog.user) %></div>
        <div class="date"><%= blog.comments.count %> comments</div>
      </div>
    <% end %>
</div>