<div id="content-wrap">
  <div class="left-column">
    <div class="title-box">
      Editing 
    </div>
  
    <div class="log-form">
      <%= render 'form', comment: @comment %>
    </div>
  </div>
  
  <div class="right-column">
    <div class="side-box"> 
      <div class="side-content">
        <%= link_to 'Cancel', @commentable %>
      </div>
    </div>
  </div>
</div>