<h1>You have a new participant!</h1>
<p>
Someone has joined you on <%= @glip.title %>!
<br /><br />
You now have <%= @glip.participants.size %> people participating and you gained 2 reputations points (which unlock new
privileges as you go). Soon you will be able to invite people to take part in your Glip, challenges,
and more!
<br /><br />
You should encourage them by leaving them a comment on their Glip. From
their profile you can follow them, see their other Glips (maybe you can join one of theirs), and more!
</p>
