<% if user_signed_in? && @article.status == "published" %>
  <div class="side-box">
    <div class="side-content">
      <%= render 'mentorships/form' %>
    </div>
  </div>
  <br />
<% end %>

<div class="side-box">
  <div class="side-content">
    <div class="title-box" style="font-size: 16px; text-align: center;"><%= @article.glips.size %> Glips helped by this Article</div>
    
    <% if @article.glips.size == 0 %>
      &nbsp;
    <% else %>
      <% @glips.each do |glip| %>
        <li><%= link_to glip.title, glip %></li>
      <% end %>
    <% end %>
  </div>
</div>