<div id="content-wrap">
  <div class="title-box">New article</div>

  <%= render 'form', article: @article %>
  
      <div class="log-form">
        <div class="center">
          <%= link_to 'Back', articles_path %>
        </div>
      </div>

</div>
