<div id="content-wrap">
  
  <div class="left-column">
    <%= render 'header' %>
    <%= render 'content' %>
    <%= render 'comments' %>
  </div>
    
  <div class="right-column">
    <%= render 'sidebar' %>
  </div>

</div>