<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone has participated in your Glip!</h1>
    <p>Someone just joined you on <%= link to @glip.title, glip_url(@glip_id) %></p>
  </body>
</html>