<div class="group-banner">
  <%= if @group.banner?
    link_to @group.banner_link do
      image_tag @group.banner, width: 703, alt: 'banner'
    end
  else 
    image_tag 'default_banner.jpg', width: 703, alt: 'banner'
  end %>
</div>
