<div id="join_form">
  <% if current_user.id == @group.user_id %>
    You Are Group Creator
  <% elsif Membership.exists?(user_id: current_user.id && group_id: @group_id) %>
    <%= render 'memberships/leave' %>
  <% else %>
    <%= render 'memberships/join' %>
  <% end %>
</div>