<div class="title-box">
  Formatting Help
</div>
  
    <div class="table-row">
      Glipboard uses Markdown syntax for formatting. Refer to the chart 
      below for help with formatting your content.
    </div><br />
    
  <div class="table">
    
    <div class="table-row">
      <div class="tiny-table-cell" style="color: #dc0000; background: #f9f2bb; border-right: 1px solid black;">
        <em>You type:</em>
      </div>
      
      <div class="tiny-table-cell" style="color: #dc0000; background: #f9f2bb;">
        <em>Output:</em>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        #Heading
      </div>
      
      <div class="tiny-table-cell">
        <h2>Heading</h2>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        _italics_
      </div>
      
      <div class="tiny-table-cell">
        <em>italics</em>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        **bold**
      </div>
      
      <div class="tiny-table-cell">
        <b>bold</b>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        > quoted text
      </div>
      
      <div class="tiny-table-cell">
        <blockquote>quoted text</blockquote>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        [Glipboard](http://glipboard.com)
      </div>
      
      <div class="tiny-table-cell">
        <%= link_to "Glipboard", "http://glipboard.com" %>
      </div>
    </div>
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        * list item<br />
        * list item<br />
        * list item<br />
      </div>
      
      <div class="tiny-table-cell">
        <ul>
          <li class="normal-list">list item</li>
          <li class="normal-list">list item</li>
          <li class="normal-list">list item</li>
        </ul>
      </div>
    </div>
    
    
    <div class="table-row">
      <div class="tiny-table-cell" style="border-right: 1px solid black;">
        ```$some code here```
      </div>
      
      <div class="tiny-table-cell">
        <pre>$some code here</pre>
      </div>
    </div>
    
  </div>
