<div class="side-box">
  <div class="side-content">
    <div class="small">
      <div class="title-box">
        Formatting Help
      </div>
      
      <div class="table">
      
        <div class="table-row">
          Glipboard uses Markdown syntax for formatting. Refer to the chart 
          below for help with formatting your content.
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            <em>You type:</em>
          </div>
          
          <div class="tiny-table-cell">
            <em>Output:</em>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            #Heading
          </div>
          
          <div class="tiny-table-cell">
            <h1>Heading</h1>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            _italics_
          </div>
          
          <div class="tiny-table-cell">
            <em>italics</em>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            **bold**
          </div>
          
          <div class="tiny-table-cell">
            <b>bold</b>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            > quoted text
          </div>
          
          <div class="tiny-table-cell">
            <blockquote>quoted text</blockquote>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            [Glipboard](http://glipboard.com)
          </div>
          
          <div class="tiny-table-cell">
            <%= link_to "Glipboard", "http://glipboard.com" %>
          </div>
        </div>
        
        <div class="table-row">
          <div class="tiny-table-cell">
            * list item<br />
            * list item<br />
            * list item<br />
          </div>
          
          <div class="tiny-table-cell">
            <ul>
              <li class="normal-list">list item</li>
              <li class="normal-list">list item</li>
              <li class="normal-list">list item</li>
            </ul>
          </div>
        </div>
        
        
        <div class="table-row">
          <div class="tiny-table-cell">
            ```$some code here```
          </div>
          
          <div class="tiny-table-cell">
            <pre>$some code here</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<br />