<div id="content-wrap">
  <div class="title-box">Editing <%= @episode.title %></div>

  <%= render 'form', episode: @episode %>
  
      <div class="log-form">
        <div class="center">
          <%= link_to 'Back', podcast_path(@podcast) %>
        </div>
      </div>

</div>
