<body style="padding-top: 0;">
  <div id="background">

    <div id="home-title-wrapper">
      <h1>
        Get stuff done. Accomplish your goals <br />
        or help others accomplish theirs.
      </h1>
    </div>
    
    <div id="home-buttons-wrapper">
      <div class="home-button" style="display: inline; margin-right: 4rem;">
        <%= link_to 'Login', new_user_session_path %>
      </div>
      <div class="home-button" style="display: inline;">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    </div>
    
    <div class="home-glips-count">
      Glipboard is a goal-setting social network with <br />
      <%= @glip_count %> Glips and counting!
    </div>
    <span style="margin-top: 40em; color: white; font-size: .8em;">
      Photo by <a href="https://unsplash.com/photos/b_8eErngWm4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karsten Würth on Unsplash</a>
    </span>
  </div>
</body>