<div class="content-show">
    <%= markdown @glip.content %>
  <div class="completion-criteria">
    <em><b>Completion Criteria</em></b><br /><%= @glip.completion_criteria %><br />
  </div>
    <%= render 'milestones/milestones' %><br />
  <% if user_signed_in? && current_user == @glip.user %>
    <%= render 'milestones/form' %>
  <% end %>
</div>