<div id="content-wrap">
<div class="title-box">Create a Glip</div>

<%= render 'form', glip: @glip %>

      <div class="log-form">
        <div class="center">
          <%= link_to 'Back', glips_path %>
        </div>
      </div>

</div>