<h5>Better Glips</h5>
    We want you to succeed, which is why we want to help you set the best goals possible. Here are some things to think about, which will help you compose stronger glips:
    <ul>
      <li>What would you like to accomplish? Be specific.
        <ul>
          <li><em><b>Get better at running</b></em> isn't a well-crafted glip, because it's too vague and it's too subjective.</li>
          <li><em><b>Run 3 miles a week</b></em> is better, it's more specific. It leaves off the "get better" part and focuses on concrete, objective things.
          It doesn't, however, specify a stopping point. For how long will this go on?</li>
          <li><em><b>Run 3 miles a week until I can do it all at once</b></em> is more like it, as before the running could be broken up into chunks. The glip
          also now has an obvious end point.</li>
          <li><em><b>Run 3 miles a week until I can do it all at once in under 24 minutes</b></em> is the most specific, and coming up with milestones for this
          wouldn't be hard.</li>
        </ul>
      </li>
      <li>How long will it take you to get there? 
        <ul>
          <li>If your goal will take longer than 6 months, you should consider breaking it up into smaller goals.</li>
          <li>If your goal can be completed all at once, it is more like a task. Is there something more long-term you can place this task inside of?</li>
        </ul>
      </li>
      <li>How will you know you are finished?
        <ul>
          <li>Your goal should be measureable. This way you know when you hit your goal and any milestones.</li>
          <li><em>Learn Spanish</em> isn't a good Glip by itself because it is too vague. How will you know you've accomplished this? It's okay to want to 
          learn a new language, great in fact. But you should break it up or add smaller goals along the way.</li>
          <li>Set a completion criteria so you know exactly when you're finished. <em>Complete Rosetta Stone Levels 1-3</em> might be a good completion
          criteria, or <em>Have a fluid conversation with a native speaker for 1 hour.</em> Just be specific.</li>
        </ul>
      </li>
    </ul>