<div id="content-wrap">
  
<div class="content-wrap">
  <div class="right-column">
    <div class="side-box">
      <div class="side-content">
        <div class="title-box" style="font-size: 16px; text-align: center;">Or Maybe Try Participating in One of These</div>
          <% @glips.each do |glip| %>
            <li><%= link_to glip.title, glip %></li>
          <% end %>
      </div>
    </div>
  </div>
  
  <div class="left-column">
    <div class="title-box">
      Congratulations
    </div>
      Great job on completing your glip! That's what this site is all about. We want you to complete everything you set out to do.
      <h2>Verification</h2>
      Your glip is marked as complete, but it is still awaiting verification. What does this mean?
      Verification simply means other users can verify that you completed it, which gets you extra rep points. You can make that process 
      easier by posting proof of some kind, either an image or a video. Some glips are harder to verify, but users will make suggestions 
      if you're having trouble thinking of something.<br /><br />
      What's next? How about upping the ante? Would you like to try a new glip, perhaps something
      a little more challenging?
      <h2>Up the Ante</h2>
      
      <%= link_to "Yes, I'd like to up the ante!", new_glip_path %><br />
      <%= link_to "No thanks, just take me home now.", root_path %>
  </div>
</div>