<div id="content-wrap">
  <div class="help-left-column">
    <div class="side-content" style="line-height: 1.5em;">
      <a href="#Overview">Overview</a><br />
      <a href="#Glips">Glips</a><br />
      &#8195;<a href="#Logs">Logs</a><br />
      <a href="#Articles">Articles<br />
      &#8195;<a href="#Featured">Featured Articles</a><br />
      <a href="#Groups">Groups</a><br />
      <a href="#Tags">Tags</a><br />
      <a href="#Reputation">Reputation</a><br />      
    </div>
  </div>
  
  <div class="help-right-column">
    <div class="title-box">
      Glipboard Help Center
    </div>
    
      Welcome to the Glipboard Help Center. Use this page to get better acquainted with the features and inner workings of the site.<br/>
      <a id="Overview"></a><h3 style: "float: left; display: inline-block;">Overview</h3>
        Glipboard is a goal-sharing social network. The idea is to provide as many tools as possible to help you accompish your goals, which we call glips. 
        (We think of a goal as a series of tiny obstacles you have to overcome to achieve it. These obstacles are like little <em>glips</em> on the road to success.)
        Post glips and track your progress by submitting periodic <a href="#Logs">logs</a> about what you're doing to bring yourself closer to your goal. You 
        can then search the site for resources  like <a href="#Articles">articles</a> and <a href="#Groups">groups</a> that might bring you closer to success. 
        Not only that, you can use your own knowledge and expertise to help others on their own goals. Use this help page to better understand what all of our
        features are and how you can utilize them to have the best chance of success.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Glips"></a><h3>Glips</h3>
        Glips are the star of the show here at Glipboard, and they're important because you can't finish what you don't start. Glips are a foot in the right direction.
        They are a way of holding yourself accountable, of declaring your intentions to yourself and the world. You are more likely to be successful if you write down your
        goals.<a href="https://sidsavara-sidsavaracom.netdna-ssl.com/wp-content/uploads/2008/09/researchsummary2.pdf"><span style="font-weight: bold; font-size: 12px;"><sup>[1]</sup></span></a><br />
        
        <h5>Posting Glips</h5>
        Posting a new glip is easy. Every glip you see on the site has a button at the top of the right sidebar. There is also a link in the navigation
        bar if you click your username. You can also just <%= link_to "click right here", new_glip_path %>. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Logs"></a><h4>Logs</h4>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Articles"></a><h3>Articles</h3>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Featured"></a><h4>Featured Articles</h4>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Groups"></a><h3>Groups</h3>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Tags"></a><h3>Tags</h3>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Reputation"></a><h3>Reputation</h3>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>

  </div>
</div>