<div id="content-wrap">
  
  <div class="title-box">
    Glipboard Help Center
  </div>
    
  <div class="help-left-column">
    <div class="side-content" style="line-height: 1.5em;">
      <a href="#Overview">Overview</a><br />
      <a href="#Glips">Glips</a><br />
      &#8195;<a href="#Criteria">Completion Criteria</a><br />
      &#8195;<a href="#Deadline">Deadlines</a><br />
      &#8195;<a href="#Milestones">Milestones</a><br />
      &#8195;<a href="#Logs">Logs</a><br />
      &#8195;<a href="#Abandon">Abandoning a Glip</a><br />
      &#8195;<a href="#Helpful">Helpful Articles</a><br />
      &#8195;<a href="#Participating">Participating in Glips</a><br />
      &#8195;<a href="#Verification">Verification</a><br />
      &#8195;<a href="#glip-tips">Tips</a><br />
      <a href="#Articles">Articles<br />
      &#8195;<a href="#Featured">Featured Articles</a><br />
      &#8195;<a href="#Helping">Helping Glips</a><br />
      <a href="#Groups">Groups</a><br />
      &#8195;<a href="#Posts">Posts</a><br />
      &#8195;<a href="#Categories">Post Categories</a><br />
      &#8195;<a href="#Challenges">Group Challenges</a><br />
      &#8195;<a href="#Podcasts">Podcasts</a><br />
      <a href="#Tags">Tags</a><br />
      <a href="#Reputation">Reputation</a><br />
      &#8195;<a href="#Privileges">Privileges</a><br />
    </div>
  </div>
  
  <div class="help-right-column" style="line-height: 1.8em; font-size: 13px;">
    
      Welcome to the Glipboard Help Center. Use this page to get better acquainted with the features and inner workings of the site.<br/>
      <a id="Overview"></a><h2>Overview</h2>
        Glipboard is a goal-sharing social network. The idea is to provide as many tools as possible to help you accompish your goals, which we call glips. 
        (We think of a goal as a series of tiny obstacles you have to overcome to achieve it. These obstacles are like little <em>glips</em> on the road to success.)
        Post glips and track your progress by submitting periodic <a href="#Logs">logs</a> about what you're doing to bring yourself closer to your goal. You 
        can then search the site for resources  like <a href="#Articles">articles</a> and <a href="#Groups">groups</a> that might bring you closer to success. 
        Not only that, you can use your own knowledge and expertise to help others on their own goals. Use this help page to better understand what all of our
        features are and how you can utilize them to have the best chance of success.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Glips"></a><h2>Glips</h2>
        Glips are the star of the show here at Glipboard, and they're important because you can't finish what you don't start. Glips are a foot in the right direction.
        They are a way of holding yourself accountable, of declaring your intentions to yourself and the world. You are more likely to be successful if you write down your
        goals.<a href="https://sidsavara-sidsavaracom.netdna-ssl.com/wp-content/uploads/2008/09/researchsummary2.pdf"><span style="font-weight: bold; font-size: 12px;"><sup>[1]</sup></span></a><br />
        
        <h4>Posting Glips</h4>
        Posting a new glip is easy. Every glip you see on the site has a button at the top of the right sidebar. There is also a link in the navigation
        bar if you click your username. You can also just <%= link_to "click right here", new_glip_path %>. <br />
        <div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Criteria"></a><h4>Completion Criteria</h4>
        Completion criteria is how you'll know you've completed your glip. It's the finish line. A good completion criteria usually starts with <em>When I do x...</em> or <em>When x happens...</em>.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Deadline"></a><h4>Deadlines</h4>
      Sometimes it can be helpful to set a deadline for a goal. Some goals require it, such as completing a novel in 30 days during
      National Novel Writing Month. Setting a deadline can provide extra motivation to complete your goal under a certain time limit.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Milestones"></a><h4>Milestones</h4>
      On each of your glip pages you have the ability to add milestones. It's helpful to break larger goals up into smaller, more manageable
      goals -- milestones -- which help you accomplish your goals incrementally. This has the added benefit of giving you little rewards along the 
      way to help keep you motivated. When you complete a milestone, just click the check mark and it will show as complete. It will also
      automatically create a new log for you saying you completed a milestone. You can help others by suggesting milestones in the comments
      section of their glips.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Logs"></a><h4>Logs</h4>
      Logs provide a great way to give updates on your progress. You can submit them right from any of your glip pages. The idea behind logs
      is to motivate you to do something, no matter how small, toward your goal each day. To see all your logs for a glip, simply click the link
      in the glip's stats section. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Abandon"></a><h4>Abandoning a Glip</h4>
      You cannot delete a Glip once you've started on it, but you can abandon it if you've decided you no longer want to do that particular thing.
      To do this, simply go to the Glip in question and click on where it says "Active", right next to the heartbeat icon. This will toggle the 
      Glip as being abandoned. Should you decide you want to pick it up again, you can always toggle it back in the same way. Just click "Abandoned" 
      right next to the skull icon to set it as active. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Helpful"></a><h4>Helpful Articles</h4>
        If you find an article to be helpful for your glip, you can mark it is helpful. A link to all articles you've marked will appear on 
        your glip page so others who might have similar goals can easily find them. The users who wrote them will also receive reputation points, and 
        if enough people find an article helpful it will become featured.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      <div id="glip-tips"><%= link_to "#", :remote => true do %><i class="fa fa-chevron-down"  aria-hidden="true"></i> Tips on Crafting Better Glips<% end %></div><br />
      
      <a id="Participating"></a><h4>Participating in Glips</h4>
        You can participate in anyone else's Glip by clicking the join button. When you do this, a new glip will be created for you, which you can customize
        to your liking, but it will always be linked to the original Glip (the ancestor). All joins then belong to the ancestor's participant numbers. 
        For example, if you join one of your friend's glips as a participant, and one of your friends then joins yours, the participant count is shared across
        all versions (i.e. it will display all participants of the ancestor glip). If you create an ancestor glip, you get 2 reputation points for every user
        who participates, all the way down the line. If a user joins a glip you've joined through your descendent glip, you still get 1 reputation point for the referral.<br /><br />
        <em>You cannot directly delete a glip that was created through participation (by joining another glip). The only way to delete these glips is to quit participating.</em>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>      
      
      <a id="Articles"></a><h3>Articles</h3>
        Articles are designed to help people accomplish their goals. If you have experience on a topic that may be helpful to someone else, you should
        write an article about it. If others find an article to be helpful for a glip, they can mark it is helpful. A link to your article will appear on 
        the glip page so others who might have similar goals can easily find it. You will also receive reputation points each time someone selects your
        article as helpful, and if enough people find an article helpful it will become featured.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Featured"></a><h4>Featured Articles</h4>
        If enough people mark an article as helpful, it becomes a featured article, and will appear more often in searches. The author of a featured
        article receives a bit of extra reputation as well, and users can search through the featured articles using the link in the top navigation.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Groups"></a><h3>Groups</h3>
        Groups provide you with a way to connect with others users who share a similar goal. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Posts"></a><h3>Posts</h3>
        Groups would be nothing without a way for members to communicate with each other. Introducing posts. Users can make posts, and other users can reply
        to them (and add remarks to the replies). Think of posts like discussion topics. Posts can be a call for help, clarification, or they can be like 
        Articles. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Challenges"></a><h3>Group Challenges</h3>
        Groups can create challenges - essentially Glips - that are only available to group members. Like podcasts, these can serve as incentives for new members
        to join the group. Group challenges, unlike Glips however, don't get cloned for each participant. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Podcasts"></a><h4>Podcasts</h4>
        Another excellent feature of groups is that each group can host its own podcast. This not only gives group creators another avenue to reach their
        members, but it provides another way to attract new group members. Only premium members can host podcasts. If you already have a podcast hosted elsewhere
        you would like to sync to via RSS in the group, we are working on that. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Tags"></a><h3>Tags</h3>
        Glips, Articles, and Groups can all be tagged with keywords, which makes it easier for other users to find your content. You can add up to 5 tags,
        and having at least one is considered courteous. The idea is to help as many people as possible accomplish their goals, so making it easy to find content 
        is paramount.
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Reputation"></a><h3>Reputation</h3>
        Reputation is a way to reward users for their participation on Glipboard. Some features are unlocked once you reach a certain reputation score. The most
        common way to increase your reputation is for other users to upvote your content. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      
      <a id="Privileges"></a><h3>Privileges</h3>
        Once you reach certain reputation, you can unlock new privileges. Here is the list of privileges you can unlock:
        <ul>
          <li>125 - Mark Glips as verified</li>
          <li>100 - Create new groups</li>
          <li>75 - Recommend Articles</li>
          <li>25 - Flag Glips</li>
          <li>20 - Send private messages</li>
        </ul>
      <br /><div class="small"><a href="#Top">Back to Top</a></div>

  </div>
</div>