<%= render 'groups/header' %>
<div id="content-wrap">
  <div class="left-column">
    <%= render 'groups/title' %>
    <%= render 'responses/form', response: @response %>
    </div>
    
  <div class="right-column">
    <div class="log-box">
      <%= render 'groups/description' %>
  </div>

</div>