<body style="padding-top: 0;">
  <div id="background">

    <div id="home-title-wrapper">
      <h1>
        404 Error <br />
        Page not found.
      </h1>
    </div>
    
    <div class="home-glips-count" style="margin-bottom: 0; color: #a1a1a1;">
      Glipboard is a goal-setting social network with
    </div>
    <h3 style="margin: .5em 0 3em 0; color: #a1a1a1;">
      <%= @glip_count %> Glips and counting!
    </h3>
    <span style="margin-top: 40em; color: white; font-size: .8em;">
      Photo by <a href="https://unsplash.com/photos/b_8eErngWm4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karsten Würth on Unsplash</a>
    </span>
  </div>
</body>
