<div id="content-wrap">
  <div class="left-column">
    <%= render 'groups/title' %>
    <%= render 'posts/form' %>
    </div>
    
  <div class="right-column">
    <div class="log-box">
      <%= render 'groups/description' %>
  </div>

</div>