/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Roboto', sans-serif;
  background: #f3f4f5;
}

#index-container {
  width: 85%;
  margin: 10px auto;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.main-header{
  width: 100%;
  margin: 0 auto;
  height: 60px;
  background: #222;
  .buttons {
    float:right;
    padding: 5px 10px;
    margin: 15px 15px 15px 0px;
    border: 1px solid #d10000;
    a {
      color: #fff;
      text-decoration: none;
      padding: 1px;
      font-weight: bold;
      font-size: .9em;
    }
  }
  .buttons-no-border {
    float:left;
    display:flex;
    padding: 5px 0px;
    margin: 15px 15px;
    a {
      color: #fff;
      text-decoration: none;
      padding: 1px;
      font-weight: bold;
      font-size: .9em;
    }
  }
}

.logo {
  margin: 15px 10px;
  vertical-align: middle;
  float:left;
  position: relative;
}

.user-welcome {
  margin: .5em 15px;
  font-size: 0.8em;
  font-style: italic;
  color: #646661;
}

.buttons-black {
  float:right;
  padding: 5px 10px;
  margin: 15px 15px 15px 0px;
  border: 1px solid #f3f4f5;
  a {
    color: #f3f4f5;
    text-decoration: none;
    padding: 1px;
    font-weight: bold;
    font-size: .9em;
  }
}

a {
  color: #d10000; 
  text-decoration: none;
}

a:hover {
  color: #76aeac;
}

p {
  line-height: 2em;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #d20001;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding:1em;
      border-bottom: #e5e5e5 1px solid;
    }
    .table-head{
        font-weight:bold;
    }
    
.glip-button {
  padding: 3px 3px;
  text-align: center;
  color: #d10000;
  border: 1px solid #d10000;
  font-size: .8em;
}

.blog-button {
  padding: 3px;
  text-align: center;
  color: #76aeac;
  border: 1px solid #76aeac;
}

.footer{
  width: 100%;
  padding: 30px, 30px 0px 30px;
  background: #222;
  display: flex;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #222222;
  padding: 1px;
  li {
  display: inline;
  font-size: .7em;
  line-height: 2em;
  margin: 0px 20px;
  }
  a {
    color: #f3f4f5;
  }
}

.footer-left {
  margin: 20px 30px;
  width: 20%;
  float: left;
  overflow: hidden;
}

.footer-middle {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-middle-2 {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-middle-3 {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-text{
  margin: 10px 0px;
  font-size: .85em;
  color: #f3f4f5;
  line-height: 1.5em;
}

.notice {
    padding: 5px 10px;
    margin: 25px 15px 25px 5px;
    border: 2px solid #3dac00;
}

.alert {
    padding: 5px 10px;
    margin: 25px 15px 25px 5px;
    border: 2px solid #d20001;
}


* { box-sizing: border-box; }

/*!
 * table-grid (http://mdo.github.io/table-grid)
 * Released under MIT, (c) 2014 Mark Otto
 */


/*
 * Container
 */

/* Holds and centers the site content */
.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}


/*
 * The Grid
 */

@media (min-width: 600px) {
  /* Add `.grid` for the table */
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  /* Add `.col` for the table cells, or columns */
  .col {
    display: table-cell;
  }

  /* Set the widths */
  .col-1 { width: 8.333333%; }
  .col-2 { width: 16.666667%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.333333%; }
  .col-5 { width: 41.666667%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.333333%; }
  .col-8 { width: 66.666667%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.333333%; }
  .col-11 { width: 91.666667%; }
  .col-12 { width: 100%; }

  /* Padded columns */
  .grid-padded {
    margin-left:  -1rem;
    margin-right: -1rem;
  }
  .grid-padded .grid {
    border-spacing: 1rem 0;
  }
}


/*
 * Vertically center grid content
 *
 * Requires content within the column to be inline or inline-block.
 */

.grid-align-middle .col {
  vertical-align: middle;
}

/* Make it red for easy views */
.grid-example {
  margin-bottom: 1rem;
}
.grid-example .col {
  line-height: 3;
  text-align: center;
  color: #333;
  background-color: rgba(255,0,0,.15);
}
.grid-example .col:nth-child(odd) {
  background-color: rgba(255,0,0,.3);
}

/* Nested grid examples need outdenting because padding. */
.grid-example .grid-example {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* Increase height of vertically centered example */
.grid-example.grid-align-middle {
  height: 200px;
}
.grid-example.grid-align-middle .col {
  min-height: 3rem;
  line-height: 1.5;
}