/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Roboto', sans-serif;
  background: #f3f4f5;
}

#index-container {
  width: 75%;
  margin: 10px auto;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

#index-container-wide {
  width: 100%;
  margin: 10px auto;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

#content-wrap {
    min-height: 450px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 1060px;
    padding: 15px;
    background-color: #FFF;
}

.main-header{
  width: 100%;
  margin: 0 auto;
  height: 60px;
  background: #222;
  .buttons {
    float:right;
    padding: 5px 10px;
    margin: 15px 15px 15px 0px;
    border: 1px solid #d10000;
    a {
      color: #fff;
      text-decoration: none;
      padding: 1px;
      font-weight: bold;
      font-size: .9em;
    }
  }
  .buttons-no-border {
    float:left;
    display:flex;
    padding: 5px 0px;
    margin: 15px 15px;
    a {
      color: #fff;
      text-decoration: none;
      padding: 1px;
      font-weight: bold;
      font-size: .9em;
    }
  }
}

.logo {
  margin: 15px 10px;
  vertical-align: middle;
  float:left;
  position: relative;
}

.user-welcome {
  margin: .5em 15px;
  font-size: 0.8em;
  font-style: italic;
  color: #646661;
}

.buttons-black {
  float:right;
  padding: 5px 10px;
  margin: 15px 15px 15px 0px;
  border: 1px solid #f3f4f5;
  a {
    color: #f3f4f5;
    text-decoration: none;
    padding: 1px;
    font-weight: bold;
    font-size: .9em;
  }
}

a {
  color: #d10000; 
  text-decoration: none;
}

a:hover {
  color: #76aeac;
}

p {
  line-height: 2em;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #d20001;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding:1em;
      border-bottom: #e5e5e5 1px solid;
    }
    .table-head{
        font-weight:bold;
    }
    
.index-top-buttons {
  font-size: .75em;
}
    
.glip-button {
  padding: 4px 9px;
  text-align: center;
  color: #d10000;
  border: 1px solid #d10000;
}

.blog-button {
  padding: 4px 9px;
  text-align: center;
  color: #76aeac;
  border: 1px solid #76aeac;
}

.footer{
  width: 100%;
  padding: 30px, 30px 0px 30px;
  background: #222;
  display: flex;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #222222;
  padding: 1px;
  li {
  display: inline;
  font-size: .7em;
  line-height: 2em;
  margin: 0px 20px;
  }
  a {
    color: #f3f4f5;
  }
}

.footer-left {
  margin: 20px 30px;
  width: 20%;
  float: left;
  overflow: hidden;
}

.footer-middle {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-middle-2 {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-middle-3 {
  width: 8%;
  float: left;
  margin: 20px 5px;
  li {
  margin: 10px 0;
  list-style: none;
  }
}

.footer-text{
  margin: 10px 0px;
  font-size: .85em;
  color: #f3f4f5;
  line-height: 1.5em;
}

.footer-icons {
  margin-top: 5px;
  font-size: 16px;
  color: #646661;
  padding-top: 7px;
  float: right;
}

.notice {
    padding: 5px 10px;
    margin: 25px 15px 25px 5px;
    border: 2px solid #3dac00;
}

.alert {
    padding: 5px 10px;
    margin: 25px 15px 25px 5px;
    border: 2px solid #d20001;
}


* { box-sizing: border-box; }



.test-container {
  width: 675px;
  font-family: helvetica;
  font-size: .85em;
  float: left;
  margin-left: 2%;
}

.test-container-right{
  width: 300px;
  margin-right: 2%;
  background-color: #333;
  overflow: hidden;
  float: right;
}

.test-header-text {
  font-weight: bold;
  font-size: .65em;
  font-family: sans-serif;
  margin-bottom: 4px;
}

.test-header-left-top {
  border-top: 1px solid #DC0000;
  border-right: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  float: left;
  width: 73%;
}

.test-header-middle-top {
  border-top: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  width: 12%;
  float:left;
}

.test-header-right-top {
  border-top: 1px solid #DC0000;
  border-left: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  width: 15%;
  float: left;
}

.test-header-left-bottom {
  border-top: 1px solid #DC0000;
  border-right: 1px solid #DC0000;
  border-bottom: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  width: 13%;
  float: left;
}

.test-header-middle-bottom {
  border-top: 1px solid #DC0000;
  border-bottom: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  width: 13%;
  float: left;
}

.test-header-right-bottom {
  border-top: 1px solid #DC0000;
  border-left: 1px solid #DC0000;
  border-bottom: 1px solid #DC0000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  width: 74%;
  float: left;
}