// Place all the styles related to the glips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.logo-wrapper {
  width: 94%;
  margin: 0 auto;
}

.main-header{
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  background: #d7d0ca;
  .buttons {
    float:right;
    background: #d20001;
    padding: 2px;
    margin: 0px 5px;
    a {
      color: white;
      text-decoration: none;
      padding: 1px;
      font-weight: bold;
      font-size: .9em;
    }
  }
}

a {
  color: #d10000; 
  text-decoration: none;
}

p {
  line-height: 2em;
}

.glips {
  margin-bottom: 10px;
  background: #f3f4f5;
  padding: 1em 5%;
}

.post-title{
  font-weight: 100;
  font-size: 1.25em;
}

.date {
  margin-top: .5em;
  font-size: 0.8em;
  font-style: italic;
  color: #646661;
}