// Place all the styles related to the glips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-alter {
  float:right;
  margin-top: 10px;
}

.content {
  padding: 20px 0px 5px 0px;
  line-height: 1.8em;
  font-size: 14px;
  word-wrap: break-word;
}

.completion-criteria {
  border: 1px solid #c5c3c1;
  background-color: #cccccc;
  padding: 5px 2%;
  margin-bottom: 10px;
  line-height: 1.8em;
  font-size: .85em;
}

.glips {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fff;
  padding: 5px 20px 10px 20px;
  box-shadow: 5px 5px 3px #999;
}

.post-title{
  font-weight: 100;
  font-size: 1.25em;
  margin-top: 15px;
}

.date {
  margin-top: 5px;
  font-size: 10px;
  font-style: italic;
  color: #646661;
}

.date-right {
  font-size: 10px;
  font-style: italic;
  color: #646661;
  float: right;
}