<% notations = comment.notations %>
<% notations.each do |notation| %>
  <div class="notation-wrapper">
    <%= notation.content %> - 
    <div class="smaller" style="display: inline;">
      <%= link_to notation.user.username, user_path(notation.user) %> 
      <%= time_ago_in_words(notation.created_at) %> ago&nbsp;&nbsp;
      <% if (user_signed_in? && (current_user.id == notation.user_id)) %>
        <% @link = "_comment_notation_path(@commentable, comment, notation)" %>
        <%= link_to "#{@commentable}#{@link}", method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i><% end %>
      <% end %>
    </div>
  </div>
<% end %>