<div id="content-wrap">
  <div class="title-box">Editing <%= @podcast.title %></div>

  <%= render 'form', podcast: @podcast %>
  
      <div class="log-form">
        <div class="center">
          <%= link_to 'Cancel', podcast_path(@podcast) %>
        </div>
      </div>

</div>